python-dotenv==1.0.0
streamlit==1.27.2
streamlit-extras
altair==4.1.0
openai==0.27.4
langchain==0.0.330
duckduckgo-search==3.9.6
httpx==0.25.1
httpcore==1.0.2
tiktoken==0.5.1
faiss-cpu==1.7.4
azure-storage-blob==12.19.0
azure-identity==1.15.0